{
  "extends": ["@antfu", "plugin:svelte/recommended"],
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
    // ...
  ],
  "rules": {
    "arrow-parens": ["error", "always"],
    "operator-linebreak": ["error", "after"],
    "svelte/no-at-html-tags": "off"
  }
}
